.Container{
    width: 100%;
    background: var( --bg-primary-color);
    min-height: calc(100vh - 70px);
}

.News_Feed_Container{
    display: inline-grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    row-gap: 20px;
    column-gap: 20px;
    padding: 20px;
}

@media (max-width:1300px) {
    .News_Feed_Container{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width:900px) {
    .News_Feed_Container{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width:550px) {
        .News_Feed_Container{
            grid-template-columns: repeat(1, minmax(0, 1fr));
            row-gap:20px;
            column-gap: 0px;
            padding: 10px;
        }
}