.Parent_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  margin: 20px;
}

.Container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container button{
    appearance: none;
    border: none;
    background: white;
    box-shadow: 0px 0px 6px 2px rgb(226, 226, 226);
    border-radius: 5px;
    padding: 10px;
    font-size: var(--font-size-medium);
    cursor: pointer;
}

.Prev{
    margin-right: 10px;
}

.Next{
    margin-left: 10px;
}

.Pages{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Pages_Buttons{
    background: white;
    box-shadow: 0px 0px 6px 2px #eeeeee;
    border-radius: 5px;
    padding:10px 20px;
    font-size: var(--font-size-medium);
    border: 1px solid #e1e1e1;
    margin: 0px 2px 0px 2px;
}

.active{
    background:#009dff;
    color: var(--bg-primary-color);
}

.disabled{
 box-shadow: none !important;
 background: #eeeeee !important;
 pointer-events: none !important;
}